@import "../../pages/Palette.scss";
@import "../../pages/Style.scss";
.text-c {
    text-align: center;
}
.text-l {
    text-align: left;
}
.text-r {
    text-align: right
}
.text-j {
    text-align: justify;
}

/* Text Color */
.text-whitesmoke {
    color: whitesmoke
}
.text-darkyellow {
    color: $orange-yellow-crayola
}

/* Lines */

.line-b {
    border-bottom: 1px solid $orange-yellow-crayola !important;
}

/* Buttons */
.button {
    border-radius: 3px;
}
.form-button {
    background-color: rgba(255, 235, 59, 0.24);
    border-color: $orange-yellow-crayola;
    color: #e6e6e6;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
    background-color: rgba(255, 235, 59, 0.473);
    border-color: rgba(255, 235, 59, 0.473);
    color: #e6e6e6;
}
.button-l {
    width: 100% !important;
}

/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */

.margin-g {
    margin: 15px;
}
.margin-g-sm {
    margin: 10px;
}
.margin-g-md {
    margin: 20px;
}
.margin-g-lg {
    margin: 30px;
}

.margin-l {
    margin-left: 15px;
}
.margin-l-sm {
    margin-left: 10px;
}
.margin-l-md {
    margin-left: 20px;
}
.margin-l-lg {
    margin-left: 30px;
}

.margin-r {
    @media screen and ( max-width:375px  ){
        margin-right: 0.4rem;
        }
        
    margin-right: 1.6rem;
}
.margin-r-sm {
    margin-right: 10px;
}
.margin-r-md {
    margin-right: 20px;
}
.margin-r-llg {
        @media screen and ( max-width:375px  ){
        margin-right: 4.9rem;
        }
    margin-right: 6.1rem;
}

.margin-r-lllg {
            @media screen and ( max-width:375px  ){
        margin-right: 6.7rem;
        }
    margin-right: 7.8rem;
}

.margin-r-xxxlg {
            @media screen and ( max-width:375px  ){
        margin-right: 6.5rem;
        }

     margin-right: 7.7rem;
    }

.margin-t {
    margin-top: 15px;
}
.margin-t-sm {
    margin-top: 10px;
}
.margin-t-md {
    margin-top: 20px;
}
.margin-t-lg {
    margin-top: 30px;
}

.margin-b {
    margin-bottom: 15px;
}
.margin-b-sm {
    margin-bottom: 10px;
}
.margin-b-md {
    margin-bottom: 20px;
}
.margin-b-lg {
    margin-bottom: 30px;
}

/* Bootstrap Form Control Extension */

.form-control {
.border-line {
    background-color: #5f5f5f;
    background-image: none;
    border: 1px solid #424242;
    border-radius: 1px;
    color: inherit;
    display: inline;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 0%;
}

}
    .form-in-signup {
            @media screen and ( max-width: 376px )
            {
                width: 50% !important;
                 min-height:20px!important;
            }
        
            width: 50% !important;
            min-height:20px!important;
        }
.form-control:focus,
.border-line:focus {
    border-color: #FFEB3B;
    background-color: #616161;
    color: #e6e6e6;
}
.form-control,
.form-control:focus {
    box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #BDBDBD; }

/* Container */

.container-content {
    background-color: #3a3a3aa2;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #FFEB3B;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}


/* signup & Register Pages*/

.signup-container {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 50px;
    
    @media screen and ( max-width: 376px ){
        height: 40rem;
        
        }
        @media screen and ( max-width: 360px ){
        height: 15rem;
        
        }
    

}
    
        
    .signup.signup-container {
    width: 300px;
}
.wrapper.signup-container {
    margin-top: 140px;
}
.logo-badge {
    color: #e6e6e6;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}

.congratulations-message{
    color: #e6e6e6;
    text-align: center;
}