@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body,
p,
div,
h1,
h2,
h3,
h4,
h5,
a {
	font-family: "Comfortaa"!important;
	text-decoration: none;
	h1 {
		font-weight: bold;
	}
}
